* {
  outline: 1px solid red;
}
:root {
  --mc: #2c4c3f;
}

body {
  background: var(--mc);
  color: #fff;
}

.container {
  width: 1200px;
}

.mouseX,
.mouseY {
  position: fixed;
  bottom: 35px;
  left: 10px;
  z-index: 999;
}
.mouseY {
  bottom: 15px;
}
.mouseCircle {
  /* display: none; */
  position: absolute;
  font-size: 0;
  top: 0;
  left: 0;
  border-radius: 50%;
  transition: 0.1s;
  z-index: -1;
}
.mouseCircle::before {
  content: "";
  position: absolute;
  font-size: 0;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #fff;
  border-radius: 50%;
  z-index: 999;
}
/* 
.header;;
 */
.header {
  display: flex;
  justify-content: center;
  line-height: 80px;
}
.header i {
  font-size: 30px;
  vertical-align: -10%;
}
.header ul {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  gap: 10px;
}
.header ul i {
  font-size: 21px;
}
.header nav {
  display: flex;
  justify-content: space-between;
}
.header nav .menuBtn {
  flex: 1;
}
.header nav h1 {
  display: flex;
  flex: 1;
  justify-content: center;
  font-size: 0;
}

/* 
.header;;
 */

/* 
.mainVisual;;
 */
.mainVisual {
}
.mainVisual .mainBg {
  position: relative;
  height: calc(100vh - 80px);
  width: 100%;
}
.mainVisual .mainBg01 {
  background: url(../img/main/20220728163824091001.jpg);
}
.mainVisual .mainBg02 {
  color: #000;
  background: url(../img/main/20220728120522894001.jpg);
}
.mainVisual .mainBg03 {
  color: #000;
  background: url(../img/main/20220126133801714001.jpg);
}
.mainVisual .slick-arrow {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}
.mainVisual .inner {
  position: absolute;
  top: 30%;
  left: 20%;
}
/* 
.mainVisual;;
 */

/* 
.lloyd;;
 */
.lloyd {
  display: flex;
  justify-content: center;
  padding: 300px 0;
}
.lloyd .container {
  text-align: center;
}
.lloyd h2 {
  line-height: 1.45;
  padding-bottom: 30px;
}
/* 
.lloyd;;
 */

/* 
.story;;
 */
.story {
  display: flex;
  justify-content: center;
}
.story .container {
  display: flex;
}
.story .container > div {
  flex: 1;
}
.story .left {
  position: sticky;
  top: 0;
  height: 100vh;
  background: url(../img/woman/20210818084438184001-r2.jpg) no-repeat center center/cover;
}
.story h2 {
  font-size: 160px;
  font-weight: 900;
  text-align: center;
  line-height: 1.4;
  transform: translateY(-62px);
  text-transform: uppercase;
  padding-bottom: 255px;
}
.story .txt {
  padding-left: 60px;
}
.story strong {
  display: inline-block;
  padding-bottom: 300px;
}
.story .right p {
  padding-bottom: 40px;
}
.story .right .lastP {
  padding-bottom: 80px;
}
.story .right {
  display: inline-block;
  margin-bottom: 100px;
}
/* 
.story;;
 */

/* 
.model;;
 */

.model {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.model .container {
  display: flex;
}
.model .container > div {
  flex: 1;
}
.model .right {
  position: sticky;
  top: 0;
  height: 100vh;
  background: url(../img/woman/20210818084448908001.jpg) no-repeat center center/cover;
}
.model h2 {
  font-size: 160px;
  font-weight: 900;
  text-align: right;
  line-height: 1.4;
  text-transform: uppercase;
  padding: 40px 60px 300px 0;
}
.model .txt {
  text-align: right;
  padding-right: 60px;
}
.model strong {
  display: inline-block;
  padding-bottom: 300px;
}
.model .left p {
  padding-bottom: 40px;
}
.model .left .lastP {
  padding-bottom: 80px;
}
.model .left {
  display: inline-block;
  margin-bottom: 100px;
}
/* 
.model;;
 */

/* 
.best;;
 */
.best {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}
.featureSlider {
  width: 100%;
}
.feature {
  height: 600px;
}
.feature01 {
  background: url(../img/feature/r01.png) no-repeat center center/contain;
}
.feature02 {
  background: url(../img/feature/r02.png) no-repeat center center/contain;
}
.feature03 {
  background: url(../img/feature/JW20220715164256149001.jpg) no-repeat center center/contain;
}
.feature04 {
  background: url(../img/feature/JW20220728131108225001.jpg) no-repeat center center/contain;
}
.feature05 {
  background: url(../img/feature/JW20221229201714271001.jpg) no-repeat center center/contain;
}
/* 
.best;;
 */

/* 
.custom;;
 */
.custom {
  padding-bottom: 100px;
}
/* 
.custom;;
 */

/* 
 .tab;; */
.tab {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}
.tab .container {
  text-align: center;
}
.tab .category {
  display: flex;
}
.tab .category li {
  flex: 1;
}
.tab .neck {
  display: flex;
}
.tab figure {
  height: 150px;
  width: 150px;
}
.tab figure:nth-child(1) {
  background: url(../img/necklace_s/JW20211012095642451001.jpg) no-repeat center/contain;
}
.tab figure:nth-child(2) {
  background: url(../img/necklace_s/JW20211012095642451001.jpg) no-repeat center/contain;
}
.tab figure:nth-child(3) {
  background: url(../img/necklace_s/JW20211012095642451001.jpg) no-repeat center/contain;
}
.tab figure:nth-child(4) {
  background: url(../img/necklace_s/JW20211012095642451001.jpg) no-repeat center/contain;
}
.tab figure:nth-child(5) {
  background: url(../img/necklace_s/JW20211012095642451001.jpg) no-repeat center/contain;
}
.tab figure:nth-child(6) {
  background: url(../img/necklace_s/JW20211012095642451001.jpg) no-repeat center/contain;
}
.tab figure:nth-child(7) {
  background: url(../img/necklace_s/JW20211012095642451001.jpg) no-repeat center/contain;
}
.tab figure:nth-child(8) {
  background: url(../img/necklace_s/JW20211012095642451001.jpg) no-repeat center/contain;
}
.tab figure:nth-child(9) {
  background: url(../img/necklace_s/JW20211012095642451001.jpg) no-repeat center/contain;
}
.tab figure:nth-child(10) {
  background: url(../img/necklace_s/JW20211012095642451001.jpg) no-repeat center/contain;
}
.tab figure:nth-child(11) {
  background: url(../img/necklace_s/JW20211012095642451001.jpg) no-repeat center/contain;
}
.tab figure:nth-child(12) {
  background: url(../img/necklace_s/JW20211012095642451001.jpg) no-repeat center/contain;
}
.tab figure:nth-child(13) {
  background: url(../img/necklace_s/JW20211012095642451001.jpg) no-repeat center/contain;
}
.tab figure:nth-child(14) {
  background: url(../img/necklace_s/JW20211012095642451001.jpg) no-repeat center/contain;
}
.tab figure:nth-child(15) {
  background: url(../img/necklace_s/JW20211012095642451001.jpg) no-repeat center/contain;
}
.tab figure:nth-child(16) {
  background: url(../img/necklace_s/JW20211012095642451001.jpg) no-repeat center/contain;
}
.tab figure:nth-child(17) {
  background: url(../img/necklace_s/JW20211012095642451001.jpg) no-repeat center/contain;
}
.tab figure:nth-child(18) {
  background: url(../img/necklace_s/JW20211012095642451001.jpg) no-repeat center/contain;
}
.tab figure:nth-child(19) {
  background: url(../img/necklace_s/JW20211012095642451001.jpg) no-repeat center/contain;
}
.tab figure:nth-child(20) {
  background: url(../img/necklace_s/JW20211012095642451001.jpg) no-repeat center/contain;
}
/* 
 .tab;; */
